#navone{
    color: black;
}
#navtwo{
    color: black;
}
#navthree{
    color: black;
}
#navfour{
    color: black;
}
#navone:hover{
    color: #E55807;
}
#navtwo:hover{
    color: #E55807;
}
#navthree:hover{
    color: #E55807;
}
#navfour:hover{
    color: #E55807;
}




.bg-main-image{
    background-image: url("/Assests/Main-poster.jpg");
    background-size: cover;
    height:70vh;
    
}
.main-poster-border{
    background-color:#00000080;
    border-radius: 16px;
    padding: 25px;
    margin-top: 100px;
    
}
.wcu-card{
    background-color: white;
    border-radius: 16px;
    border-style: solid;
    border-width: 1;
    border-color: aliceblue;
    height: 300px;

}
.wcu-image{
    height: 100px;
    width: 90px;
}
.wcu-para{
    font-size: 13px;
    font-family: roboto;
}
.main-heading{
    color: white;
    font-family: roboto;
    font-weight: 300;
}
.butnone-style{
    height: 40px;
    width: 120px;
    border-radius: 10px;
    border-style: none;
    color: white;
    background-color: #E55807;
    margin-right: 15px;
    margin-bottom: 15px;
}
.butntwo-style{
    height: 40px;
    width: 120px;
    border-radius: 10px;
    border-style: solid;
    color:#E55807;
    border-color: #E55807;
    background-color: transparent;
}
span{
    color: #E55807;
    font-weight: bold;
    font-style: italic;
}
.sub-heading{
    font-size: 25px;
    font-weight: bold;
    color: #E55807;

}
.item-image{
    border-radius: 16px;
}
.items-white-box{
    background-color: white;
    border-radius: 16px;
    padding: 10px;
}
.items-card-para{
    color: #E55807;
}
.follow-us-icons{
    background-color: #E55807;
    height: 58px;
    width: 55px;
    padding-top: 15px;
    padding-left: 12px;
    padding-right: 10px;
    border-radius: 100px;
    margin: 10px;


}
.icon{
    font-size: 30px;
}
.bg-faq{
    background-image:linear-gradient(to right, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.8)),url("Assests/selection-food-tray.jpg");
    height: 50vh;
    background-size: cover;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
}
.footer-sec-sub-head {
    color: white;
    font-size: 30px;
}

.icon-bg {
    background-color: white;
    height: 50px;
    width: 50px;
    border-radius: 50px;
    padding-top: 10px;
    padding-left: 10px;
}

.footer-head {
    color: white;
    font-size: 20px;
}

.footer-para {
    color: white;
    font-size: 15px;
}
a:hover{
    cursor: pointer;
    text-decoration:none;
    color:#E55807;
}